{% extends 'base.html' %}

{% block content %}
<div class="col l8">
<div class="card-panel light-blue lighten-4">
  <section class="section">
    <section class="section">
      <form method="post">
          {{ form.hidden_tag() }}
          {{ form.post_content.label() }}{{ form.post_content }}
          <div class="right-align">

          {{ form.submit(class="btn blue") }}
          </div>
    </section>
        </form>
      </section>
        <section class="section">
      {% for post in posts|reverse %}
        <div class="card-panel grey lighten-4 hoverable">
 <span class="post-profile">
          <img class="circle post-photo" width="50px" src="{{ url_for('static', filename='img/' + post.user.photo) }}">
          <span class="post-username">{{ post.user.username }}</span>
        </span>
          <br>
          <div class="divider"></div>
          <p class="center">{{ post.content }}</p>
        <p class="right-align">{{ moment(post.timestamp, local=True).format('LLLL') }}({{ moment(post.timestamp, local=True).fromNow() }})</p>

        </div>
      {% endfor %}
</section>
<div class="card-panel grey lighten-2">
<p><a href="{{ url_for('auth.changepassword') }}">Change your password</a></p>
<p><a href="{{ url_for('auth.changeemail') }}">Update your email address</a></p>
<p><a href="{{ url_for('main.updateprofile') }}">Update profile</a></p>
<form method="POST" enctype="multipart/form-data">
  {{ photo_form.hidden_tag() }}
  <p>{{ photo_form.image_file.label(class="black-text") }} {{ photo_form.image_file}} </p>
  {% if photo_form.image_file.errors %}
  {% for error in photo_form.image_file.errors %}
    <span class="red-text">{{ error }}.</span>
  {% endfor %}
  {% endif %}
  <p>{{ photo_form.submit_photo(class="btn blue") }}</p>

</form>
</div>
</div>
</div>
{% endblock %}
