{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% import "_macros.html" as macros %}


{% block content %}
<div class="col l8">
<div class="card-panel light-blue lighten-4">
<div class="card-panel grey lighten-2">
  <div class="row">
<div class="col offset-s4">
<p>
Username: {{ current_user.username }}
<span class="new badge blue" data-badge-caption="following">{{ current_user.followed.count() - 1 }}</span>

</p>
<p>
Location: <a href="http://maps.google.com/?q={{ current_user.location }}">
{{ current_user.location }}
</a>
</p>
<p>
  Posts: {{ current_user.posts|count }}
</p>
<p>
Member since: {{ moment(current_user.member_since).format('LL') }}
</p>
<p>
Last Active: {{ moment(current_user.last_seen).format('LL') }}
</p>
<p>
Bio: {{ current_user.about_me }}
</p>
</div>
</div>
  </div>  
  <section class="section">
    <section class="section">
      <form method="post">
          {{ form.hidden_tag() }}
        {{ render_field(form.post_content) }}
          <div class="right-align">

          {{ form.submit(class="btn blue") }}
          </div>
    </section>
        </form>
      </section>
        <section class="section">
  {% include '_posts.html' %}
  <div class="pagination">
    {{ macros.pagination_widget(pagination, '.account') }}
  </div>
</section>
<div class="card-panel grey lighten-2">
<p><a href="{{ url_for('auth.changepassword') }}">Change your password</a></p>
<p><a href="{{ url_for('auth.changeemail') }}">Update your email address</a></p>
<p><a href="{{ url_for('main.updateprofile') }}">Update profile</a></p>
<form method="POST" enctype="multipart/form-data">
  {{ photo_form.hidden_tag() }}
  <p>{{ photo_form.image_file.label(class="black-text") }} {{ photo_form.image_file}} </p>
  {% if photo_form.image_file.errors %}
  {% for error in photo_form.image_file.errors %}
    <span class="red-text">{{ error }}.</span>
  {% endfor %}
  {% endif %}
  <p>{{ photo_form.submit_photo(class="btn blue") }}</p>

</form>
</div>
</div>
</div>
{% endblock %}
