<!DOCTYPE html>
<html>
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale('us') }}
<title>FakeBook</title>
</head>
<body>

<nav class="light-blue lighten-3">
  <div class="nav-wrapper">
    {% if current_user.is_authenticated %}
      <img class="circle responsive-img left sml-profile hide-on-large-only" width="50px" src="{{ url_for('static', filename='img/' + current_user.photo) }}">
    {% endif %}
    <a href="{{ url_for('main.timeline') }}" class="brand-logo">
      <i class="medium material-icons">message</i><strong>FakeBook</strong></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('main.timeline') }}">Timeline</a></li>
      <li><a href="{{ url_for('main.account') }}">Account</a></li>
      <li><a href="{{ url_for('main.users') }}">Users</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<section class="section">
<div class="container">
<div class="row">
{% if get_flashed_messages %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="col s12">
  <div class="{{ category }} flash-msg">
  {{ message }} <span class="close-flash right"><a class="flash-close-x" href="javascript:void(0)">
    X
  </a></span>
  </div>
</div>
{% endfor %}
{% endif %}

{% if current_user.is_authenticated %}
  <div class="col l4 center">
    <div class="card-panel grey lighten-4 hide-on-med-and-down">
      <img class="circle responsive-img profile-photo" src="{{ url_for('static', filename='img/' + current_user.photo) }}">
      <div class="divider"></div>
      <p class="center">{{ current_user.username }}</p>
      <div class="divider"></div>
      {% if current_user.is_admin %}
      <p class="center">Admin</p>
      <div class="divider"></div>
      {% endif %}
      <p class="center">{{ current_user.location }}</p>
      <div class="divider"></div>
      <p class="center">Last Seen: {{ moment(current_user.last_seen).format('LL') }}</p>
      <div class="divider"></div>
      <div class="divider"></div>
      <p class="center">Posts: {{ current_user.posts|length }}</p>
      <div class="divider"></div>
    </div>
{% endif %}
  </div>

{% block content %}
{% endblock %}

</div>
</div>
</section>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript"
  src="{{ url_for('static', filename='js/app.js') }}"
  ></script>
</body>
</html>

