<!DOCTYPE html>
<html>
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css">

  body {
    background-color: lightgrey;
  }

  .brand-logo {
    margin-left: 20px;
  }

  #nav-mobile {
    margin-right: 20px;
  }

  .post-photo {
    margin: -10px;
  }

  .post-username {
    position: absolute;
    margin: 3px 10px;
  }

  .post-profile {
    margin-left: -10px;
    top: -20px;
  }

</style>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale('us') }}
<title>FakeBook</title>
</head>
<body>

<nav class="light-blue lighten-3">
  <div class="nav-wrapper">
    <a href="{{ url_for('main.timeline') }}" class="brand-logo">
      <i class="medium material-icons">message</i><strong>FakeBook</strong></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('main.timeline') }}">Timeline</a></li>
      <li><a href="{{ url_for('main.account') }}">Account</a></li>
      <li><a href="{{ url_for('main.users') }}">Users</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<section class="section">
<div class="container">
<div class="row">
{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="{{ category }}">
  {{ message }}
  </div>
{% endfor %}

{% if current_user.is_authenticated %}
  <div class="col l4 center">
    <div class="card-panel grey lighten-4">
      <img class="circle" src="{{ url_for('static', filename='img/' + current_user.photo) }}">
      <div class="divider"></div>
      <p class="center">{{ current_user.username }}</p>
      <div class="divider"></div>
      <p class="center">{{ current_user.location }}</p>
      <div class="divider"></div>
      <p class="center">Posts: {{ current_user.posts|length }}</p>
      <div class="divider"></div>

    </div>
{% endif %}
  </div>


{% block content %}
{% endblock %}

</div>
</div>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

