{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}


{% block content %}
<div class="col l8">
<div class="card-panel light-blue lighten-4">
<section class="section">
<section class="section">
    <form method="POST">
      {{ form.hidden_tag() }}
        {{ render_field(form.email) }}


{#
		{{ form.email.label(class="black-text") }}{{ form.email}}
  {% if form.email.errors %}
  {% for error in form.email.errors %}
    <span class="red-text">{{ error }}</span>
  {% endfor %}
  {% endif %}  #}
        <div class="right-align">

      {{ form.submit(class="btn blue") }}
    </div>
    </form>
</section>
</section>
</div>
</div>
{% endblock %}
