{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="col l8">
<div class="card-panel light-blue lighten-4">
<section class="section">
<section class="section">
    <form method="POST">
      {{ form.hidden_tag() }}

        {{ render_field(form.old_password) }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.confirm_new_password) }}



     <!--  {{ form.old_password.label(class="black-text") }}{{ form.old_password }}
{% if form.old_password.data %}
  {% if not current_user.check_password(form.old_password.data) %}
  <p class="red-text">Could not verify password</p>
  {% endif %}
{% endif %}
      {{ form.new_password.label(class="black-text") }}{{ form.new_password }}
  {% if form.new_password.errors %}
  {% for error in form.new_password.errors %}
    <span class="form-error red-text">{{ error }}</span>
  {% endfor %}
  {% endif %}
      <p>
{{ form.confirm_new_password.label(class="black-text") }}{{ form.confirm_new_password }}
      </p>
  {% if form.confirm_new_password.errors %}
  {% for error in form.confirm_new_password.errors %}
    <span class="form-error red-text">{{ error }}</span>
  {% endfor %}
  {% endif %} -->
        <div class="right-align">

      {{ form.submit(class="btn blue") }}
        </div>
    </form>
</section>
</section>
</div>
</div>
{% endblock %}
