{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class="col l8">
<div class="card-panel light-blue lighten-4">
    <div class="row">
        <div class="container">
            <div class="card-panel grey lighten-4">
<section class="section">
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
    <div class="right-align">
        {{ form.submit(class="btn blue") }}
    </div>
    {# This needs the materialize tags to work #}
        {{ form.remember(class="browser-default") }}
        </form>
        </div>
        <a href="{{ url_for('auth.register') }}">Click here</a> to register <br>
        <a href="{{ url_for('auth.resetrequest') }}">Reset Password</a></div>
</section>
    </div>
</div>
</div>

{% endblock %}
