{% extends 'base.html' %}

{% block content %}
<div class="col l8">
<div class="card-panel light-blue lighten-4">
<section class="section">
  <div class="card-panel grey lighten-2">
    <div class="row">
  <img class="circle col l4" width="200px" src="{{ url_for('static', filename='img/' + user.photo) }}" alt="">
  <div class="col l8">
    <div>
</div>
  <p>
  Username: {{ user.username }}
          {% if user != current_user and current_user.is_followed_by(user) %}
  <span class="new badge green" data-badge-caption="Follows you"></span>
        {% endif %}
  <span class="new badge blue" data-badge-caption="followers">{{ user.followers.count() - 1 }}</span>

  </p>
  <p>
  Location: <a href="http://maps.google.com/?q={{ user.location }}">
  {{ user.location }}  
  </a>
  <span class="new badge blue" data-badge-caption="following">{{ user.followed.count() - 1 }}</span>
  </p>
  <p>
    Posts: {{ user.posts|count }}
  </p>
  <p>
  Member since: {{ moment(user.member_since).format('LL') }}
  </p>
  <p>
  Last Active: {{ moment(user.last_seen).format('LL') }}
  </p>
  <p>
  Bio: {{ user.about_me }}
  </p>
  {% if user != current_user %}
    {% if not current_user.is_following(user) %}
      <p>

        <a href="{{ url_for('.follow', username=user.username) }}" class="btn blue">Follow
        </a>
      </p>
    {% else %}
      <p>
        <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn blue">Unfollow
        </a>
      </p>   
    {% endif %}
  {% endif %}
    {% if current_user.is_admin %}
    Confirmed: {{ user.confirmed }}
    <p>
    Admin: {{ user.is_admin }}  
    </p>
  </div>

  </div>
    </div>
    {# ADMIN PANAL #}
  <div class="card-panel grey lighten-2">
    <h5 class="center">(( Admin only ))</h5>
      <form method="post">
        {{ form.hidden_tag() }}
        {{ form.email.label(class="black-text") }}{{ form.email }}
        {{ form.username.label(class="black-text") }}{{ form.username }}
        {{ form.location.label(class="black-text") }}{{ form.location }}
        <div class="input-field">
        {{ form.about.label(class="black-text ") }}{{ form.about(class="materialize-textarea") }}
      </div>
      <p>
      <label>
        {{ form.confirmed(id="confirm") }}
        <span>
          {{ form.confirmed.label(class="black-text", for="confirm") }}
        </span>
      </label>
      </p>
        <p>
      <label>
          {{ form.admin(id="admin") }}
        <span>
          {{ form.admin.label(class="black-text", for="admin") }}
        </span>
      </label>
        </p>
        <div class="right-align">
        {{ form.submit(class="btn blue") }}
        </div>
      </form>
  </div>
    {% endif %}
    {# POSTS #}
  {% if posts %}
  {% include '_posts.html' %}
      {% else %}
      <section class="section">
      <h5>This user has no posts!</h5>
      </section>
  {% endif %}
</section>
</div>
</div>
{% endblock %}
