{% extends 'base.html' %}

{% block content %}
<div class="col l8">
<div class="card-panel light-blue lighten-4">
<section class="section">
  <div class="card-panel grey lighten-2">
    <div class="row">
  <img class="circle col l4" width="200px" src="{{ url_for('static', filename='img/' + user.photo) }}" alt="">
  <div class="col l4">
  <p>
  {{ user.username }}
  </p>
  <p>
  {{ user.location }}
  </p>
  <div class="col l4">
    <!-- {{ user.about_me }} -->
  </div>
  </div>

  </div>
    </div>
  {% if posts %}
  {% for post in posts|reverse %}
        <div class="card-panel grey lighten-4 hoverable">
 <span class="post-profile">
          <img class="circle post-photo" width="50px" src="{{ url_for('static', filename='img/' + post.user.photo) }}">
          <span class="post-username">{{ post.user.username }}</span>
        </span>
          <br>
          <div class="divider"></div>
          <p class="center">{{ post.content }}</p>
          <p class="right-align">{{ moment(post.timestamp).format('LLLL') }}({{ moment(post.timestamp).fromNow() }})</p>

        </div>
      {% endfor %}
      {% else %}
      <section class="section">
      <h5>This user has no posts!</h5>
      </section>
  {% endif %}
</section>
</div>
</div>
{% endblock %}
