{% extends 'base.html' %}

{% block content %}

<div class="col l8">
<div class="card-panel light-blue lighten-4">
    <div class="row">
        <div class="container">
          <div class="card-panel grey lighten-4">
<section class="section">
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label(class="black-text") }}{{ form.email }}
        {{ form.username.label(class="black-text") }}{{ form.username }}
        {{ form.password.label(class="black-text") }}{{ form.password }}
        {{ form.password_confirm.label(class="black-text") }}{{ form.password_confirm }}
        {{ form.location.label(class="black-text") }}{{ form.location }}
        <div class="right-align">

        {{ form.submit(class="btn blue") }}
        </div>
      </form>
</section>
    </div>
    </div>
    </div>
</div>
</div>

{% endblock %}
