{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class="col l8">
<div class="card-panel light-blue lighten-4">
    <div class="row">
        <div class="container">
            <div class="card-panel grey lighten-4">
<section class="section">
    <form method="POST">
    {{ form.hidden_tag() }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.password_confirm) }}
{#     {{ form.new_password.label(class="black-text") }}{{ form.new_password }}
    {{ form.password_confirm.label(class="black-text") }}{{ form.password_confirm }}
    {% for error in form.username.errors %}
                <span class="form-error red-text">
                {{ error }}
                </span>
            {% endfor %}
            <br> #}
    <div class="right-align">
    {{ form.submit(class="btn blue") }}
    </form>
    </div>
</section>
    </div>
    </div>
    </div>
</div>
</div>

{% endblock %}
