{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class="col l8">
<div class="card-panel light-blue lighten-4">
{% if current_user.is_authenticated %}
  <section class="section">
<section class="section">
  <form method="post">
          {{ form.hidden_tag() }}

          {{ render_field(form.post_content) }}

          <div class="right-align">
          {{ form.submit(class="btn blue") }}
          </div>
  </form>
</section>
  </section>
  {% endif %}
{# POSTS #}
{% if current_user.is_authenticated %}
  <a class="btn-small blue waves-effect waves-light" href="{{ url_for('.show_all') }}">All</a>
  <a class="btn-small blue waves-effect waves-light" href="{{ url_for('.show_followed') }}">Followed</a>
{% endif %}
  {% include '_posts.html' %}
  <div class="pagination">
    {{ macros.pagination_widget(pagination, '.timeline') }}
  </div>
</div>
</div>

{% endblock %}
