{% extends 'base.html' %}

{% block content %}

<div class="col l8">
<div class="card-panel light-blue lighten-4">
{% if current_user.is_authenticated %}
  <section class="section">
<section class="section">
  <form method="post">
          {{ form.hidden_tag() }}
          {{ form.post_content.label() }}{{ form.post_content }}
          <div class="right-align">
          {{ form.submit(class="btn blue") }}
          </div>
  </form>
</section>
  </section>
  {% endif %}
{# POSTS #}
  {% include '_posts.html' %}
</div>
</div>

{% endblock %}
