{% extends 'base.html' %}

{% block content %}
<div class="col l8">
<div class="card-panel light-blue lighten-4">
<section class="section">
    <div class="row">
      {% for user in users %}
        {% if user.confirmed or current_user.is_admin %}
          
        {# {% if user.id in following %} #}
          <div class="col s12 l4">
            <div class="card-panel">
              <div class="center">
                <a href="{{ url_for('main.profile', username=user.username)}}">
                <img class="circle" width="75px" src="{{ url_for('static', filename='img/' + user.photo) }}" alt="">
                <p>{{ user.username }}</p></a>
                {{ user.location }}
              </div>
            </div>
          </div>
          {% else %}
        {# {% endif %} #}
        {% endif %}
      {% endfor %}
    </div>
</section>
</div>
</div>
{% endblock %}
